In [5]:
import pandas as pd

In [6]:
df=pd.read_csv("movies.csv")
df

,Actor,Film,Year,Genre,BoxOffice in INR CRORE,IMDb
0,Shah Rukh Khan,Jawan,2023,Action,1160,7.8
1,Salman Khan,Bajrangi Bhaijaan,2015,Drama,923,8.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Animal,2023,Drama,915,8.2
4,Ranveer Singh,Padmaavat,2018,Drama,585,7.1
5,Ayushmann Khurrana,Andhadhun,2018,Comedy,456,8.2
6,Rajkumar Rao,Stree,2018,Horror,180,7.6
7,Hrithik Roshan,War,2019,Action,471,6.9
8,Akshay Kumar,2.O,2018,Sci-Fi,745,6.0
9,Karthik Aryan,Bhool Bhulaiyaa 3,2024,Comedy,397,7.2
10,Varun Dhawan,Dilwale,2015,Romance,375,6.2
11,Vicky Kaushal,Chaava,2025,Period,706,7.8
12,Amitabh Bachan,Kalki 2898 AD,2024,Sci-Fi,619,7.5

# Selecting Rows & Columns

In [7]:
df["Actor"]

0         Shah Rukh Khan
1            Salman Khan
2             Aamir Khan
3          Ranbir Kapoor
4          Ranveer Singh
5     Ayushmann Khurrana
6           Rajkumar Rao
7         Hrithik Roshan
8           Akshay Kumar
9          Karthik Aryan
10          Varun Dhawan
11         Vicky Kaushal
12        Amitabh Bachan
Name: Actor, dtype: object

In [8]:
df["Actor"][1] # Single column (as Series)

'Salman Khan'

In [9]:
df[["Actor","BoxOffice in INR CRORE"]] # Multiple columns (as DataFrame)

                 Actor  BoxOffice in INR CRORE
0       Shah Rukh Khan                    1160
1          Salman Khan                     923
2           Aamir Khan                    2024
3        Ranbir Kapoor                     915
4        Ranveer Singh                     585
5   Ayushmann Khurrana                     456
6         Rajkumar Rao                     180
7       Hrithik Roshan                     471
8         Akshay Kumar                     745
9        Karthik Aryan                     397
10        Varun Dhawan                     375
11       Vicky Kaushal                     706
12      Amitabh Bachan                     619

In [10]:
df.loc[1] ## First row (by label)

Actor                           Salman Khan
Film                      Bajrangi Bhaijaan
Year                                   2015
Genre                                 Drama
BoxOffice in INR CRORE                  923
IMDb                                    8.0
Name: 1, dtype: object

In [11]:
df.iloc[1] # First row (by position)

Actor                           Salman Khan
Film                      Bajrangi Bhaijaan
Year                                   2015
Genre                                 Drama
BoxOffice in INR CRORE                  923
IMDb                                    8.0
Name: 1, dtype: object

In [12]:
df.loc[3,"Film"]   # Value at row 3, column 'Film'

'Animal'

In [13]:
print(df.iloc[3,1])  # Value at row 3, column at index 1

Animal

In [14]:
df.loc[0:2 , ["Actor","Film","IMDb"] ]  # Rows 0 to 2, selected columns #2 inclusive

            Actor               Film  IMDb
0  Shah Rukh Khan              Jawan   7.8
1     Salman Khan  Bajrangi Bhaijaan   8.0
2      Aamir Khan             Dangal   8.4

In [15]:
df.iloc[0:2, 0:2]              # Rows and cols by index position  #2 exclusive(same as python)

            Actor               Film
0  Shah Rukh Khan              Jawan
1     Salman Khan  Bajrangi Bhaijaan

In [16]:
import time

In [20]:
start=time.time()
df.loc[0,"Actor"]
end=time.time()

print(end-start)
print(df.loc[0,"Actor"])

0.0003948211669921875
Shah Rukh Khan

In [21]:
start=time.time()
df.at[0,"Actor"]    # Fast access to single element...
end=time.time()

print(end-start)
print(df.at[0,"Actor"])

0.0005893707275390625
Shah Rukh Khan

In [19]:
df.iat[0,0]

'Shah Rukh Khan'

# FILTERING

In [25]:
df[df["BoxOffice in INR CRORE"]>500]

,Actor,Film,Year,Genre,BoxOffice in INR CRORE,IMDb
0,Shah Rukh Khan,Jawan,2023,Action,1160,7.8
1,Salman Khan,Bajrangi Bhaijaan,2015,Drama,923,8.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Animal,2023,Drama,915,8.2
4,Ranveer Singh,Padmaavat,2018,Drama,585,7.1
8,Akshay Kumar,2.O,2018,Sci-Fi,745,6.0
11,Vicky Kaushal,Chaava,2025,Period,706,7.8
12,Amitabh Bachan,Kalki 2898 AD,2024,Sci-Fi,619,7.5

In [27]:
df[df["IMDb"]>6.0]

,Actor,Film,Year,Genre,BoxOffice in INR CRORE,IMDb
0,Shah Rukh Khan,Jawan,2023,Action,1160,7.8
1,Salman Khan,Bajrangi Bhaijaan,2015,Drama,923,8.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Animal,2023,Drama,915,8.2
4,Ranveer Singh,Padmaavat,2018,Drama,585,7.1
5,Ayushmann Khurrana,Andhadhun,2018,Comedy,456,8.2
6,Rajkumar Rao,Stree,2018,Horror,180,7.6
7,Hrithik Roshan,War,2019,Action,471,6.9
9,Karthik Aryan,Bhool Bhulaiyaa 3,2024,Comedy,397,7.2
10,Varun Dhawan,Dilwale,2015,Romance,375,6.2
11,Vicky Kaushal,Chaava,2025,Period,706,7.8
12,Amitabh Bachan,Kalki 2898 AD,2024,Sci-Fi,619,7.5

In [28]:
df[df["BoxOffice in INR CRORE"]>500]["Actor"]

0     Shah Rukh Khan
1        Salman Khan
2         Aamir Khan
3      Ranbir Kapoor
4      Ranveer Singh
8       Akshay Kumar
11     Vicky Kaushal
12    Amitabh Bachan
Name: Actor, dtype: object

In [30]:
df[(df["BoxOffice in INR CRORE"]>500) & (df["Year"]>2020)]

             Actor           Film  Year    Genre  BoxOffice in INR CRORE  IMDb
0   Shah Rukh Khan          Jawan  2023   Action                    1160   7.8
3    Ranbir Kapoor         Animal  2023    Drama                     915   8.2
11   Vicky Kaushal         Chaava  2025  Period                      706   7.8
12  Amitabh Bachan  Kalki 2898 AD  2024   Sci-Fi                     619   7.5

In [31]:
df.query("Year>2020 and IMDb>7")  # Damm it simple human language

,Actor,Film,Year,Genre,BoxOffice in INR CRORE,IMDb
0,Shah Rukh Khan,Jawan,2023,Action,1160,7.8
3,Ranbir Kapoor,Animal,2023,Drama,915,8.2
9,Karthik Aryan,Bhool Bhulaiyaa 3,2024,Comedy,397,7.2
11,Vicky Kaushal,Chaava,2025,Period,706,7.8
12,Amitabh Bachan,Kalki 2898 AD,2024,Sci-Fi,619,7.5

Querying with .query()
The .query() method in pandas lets you filter DataFrame rows using a string expression — it's a more readable and often more concise alternative to using boolean indexing.

This is a cleaner, SQL-like way to filter:

df.query("Age > 25 and City == 'Delhi'")

Dynamic column names:

col = "Age"
df.query(f"{col} > 25")

Here are the main rules and tips for using .query() in pandas:

1. Column names become variables
You can reference column names directly in the query string:

df.query("age > 25 and city == 'Delhi'")

2. String values must be in quotes
Use single or double quotes around strings in the expression:

df.query("name == 'Harry'")

If you have quotes inside quotes, mix them:

df.query('city == "Mumbai"')

3. Use backticks for column names with spaces or special characters
If a column name has spaces, use backticks (`):

df.query("`first name` == 'Alice'")

4. You can use @ to reference Python variables
To pass external variables into .query():

age_limit = 30
df.query("age > @age_limit")

5. Logical operators
Use these:

and, or, not — instead of &, |, ~
==, !=, <, >, <=, >=
Bad:

df.query("age > 30 & city == 'Delhi'")  # ❌

Good:

df.query("age > 30 and city == 'Delhi'")  # ✅

6. Chained comparisons
Just like Python:

df.query("25 < age <= 40")

7. Avoid using reserved keywords as column names
If you have a column named class, lambda, etc., you’ll need to use backticks:

df.query("`class` == 'Physics'")

8. Case-sensitive
Column names and string values are case-sensitive:

df.query("City == 'delhi'")  # ❌ if actual value is 'Delhi'

9. .query() returns a copy, not a view
The result is a new DataFrame. Changes won't affect the original unless reassigned:

filtered = df.query("age < 50")